<%= breadcrumbs('Help') %>

<div class="page-header">
  <h1>Scheme Manual</h1>
</div>

<p>
  <span class="icon-download-alt">
    <a href="/help/EFG%20Scheme%20Manual.docx">Download Scheme Manual</a>
  <span>
  <br />
  <small>(1.1MB Microsoft Word document)</small>
</p>

<p>
  <span class="icon-download-alt">
    <a href="/help/sic2007index.pdf">Download 2007 SIC Indices</a>
  </span>
  <br />
  <small>(1.8MB PDF)</small>
</p>
