<%= breadcrumbs(
  link_to('Lenders', lenders_path),
  h(@lender.name),
  link_to('Lending Limits', lender_lending_limits_path(@lender))
) %>

<div class="page-header">
  <h1>Add Lending Limit</h1>
</div>

<p>From this page you can allocate a limit to a lender.</p>

<%= render 'form' %>
