<div class="utilisation-year">
  <div class="content">
    <h3><%= lending_limit.name %></h3>

    <ul>
      <li><strong>Allocation:</strong> <%= lending_limit.allocation.format %></li>
      <li><strong>Usage:</strong> <%= lending_limit.usage_amount.format %></li>
      <li><strong>Utilisation:</strong> <%= lending_limit.usage_percentage %></li>
    </ul>
  </div>
</div>
