<div class="page-header">
  <h1>Realise Loans Summary</h1>
</div>

<p>The following loans have been realised:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Loan Reference</th>
      <th>Business Name</th>
      <th>Realised Date</th>
      <th>Loan State</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @realisation_statement.realised_loans.each do |loan| %>
        <tr>
          <td><%= loan.reference %></td>
          <td><%= loan.business_name %></td>
          <td><%= @realisation_statement.created_at.strftime('%d/%m/%Y') %></td>
          <td><%= loan.state.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>