*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/spec/ci_reports/
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
.DS_Store
import_data/*
brakeman-output.tabs
