<table class="table table-striped">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Amount</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td><%= link_to(loan_business_name(loan), loan) %></td>
        <td><%= loan.amount.format %></td>
        <td><%= loan.updated_at.strftime("%d %B %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
