<div class="page-header">
  <h1><%= loan_listing_title(params[:id], params[:scheme]) %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", loan_state_path(params[:id], format: 'csv'), class: 'btn' %></li>
  </ul>
</div>

<%= render partial: "loans_listing", locals: { loans: @loans } %>

<%= will_paginate @loans %>