<div class="page-header with-actions">
  <h1>Loans: <%= params[:id].titleize %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", url_for(format: 'csv'), class: 'btn' %></li>
  </ul>
</div>

<%= render partial: "loans_listing", locals: { loans: @loans } %>

<%= will_paginate @loans %>