<div class="page-header">
  <h1>Loans: <%= params[:id] %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.business_name %></td>
        <td><%= loan.amount.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
