<p>Hello <%= @user.first_name %>!</p>

<p>A new <strong>Enterprise Finance Guarantee</strong> account has been created for you with the email address <strong><%= @user.email %></strong></p>

<p><strong>Your username is: <%= @user.username %></strong></p>

<p>To login to your account, you must <strong>first setup a password</strong> by following this link:</p>

<p><%= link_to 'Set your password', edit_password_url(@user, reset_password_token: @user.reset_password_token) %></p>

<p>You will not be able to login to your account until you have set your password.</p>
