<%= breadcrumbs(
  link_to('Premium Collector Users', premium_collector_users_path),
  'New Premium Collector User'
) %>

<div class="page-header">
  <h1>New Premium Collector User</h1>
</div>

<%= render 'form' %>
