<%= breadcrumbs_for_loan(@loan, 'Repay Loan') %>

<div class="page-header">
  <h1>Repay Loan</h1>
</div>

<p>From this page you can record the date on which a facility was repaid.</p>

<p><span class="label label-important">REMINDER</span> Please note that you no longer need to advise the Premium Collection Agent that the loan has been repaid. Updating this system is sufficient.</p>

<hr>

<%= simple_form_for(@loan_repay, url: loan_repay_path(@loan), html: { class: 'form-horizontal form-loan-repay' }) do |f| %>
  <%= f.input :repaid_on, as: :quick_date %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
