<div class="page-header">
  <h1>Reset Your Password</h1>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
  <%= f.error_notification %>

<div class="alert alert-warning" style="color: black;">
    <p>
      <strong>Update: 11:30 GMT, Thursday 7th March</strong><br>
      We have resolved a problem with our system that was preventing password
      reset emails from being sent. This was caused by a higher than expected
      volume of emails going through our system. We're sorry for any
      inconvenience that this caused you.
    </p>
    <p>
      If you haven't changed your password since 8pm on Wednesday 6th March you must enter your username below to request a password reset.
    </p>
    <p>
      From 6th March we have changed the Enterprise Finance Guarantee password policy. You must now change your password at least once every 90 days.
    </p>
  </div>

  <%= f.input :username, required: true %>

  <div class="form-actions">
    <%= f.button :submit, "Send Reset Instructions", class: 'btn btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
