<div class="form-actions">
  <%= link_to_loan_entry(@loan, class: 'btn btn-primary') %>
  <%= link_to('Cancel Loan', new_loan_cancel_path(@loan), class: 'btn btn-danger') if current_user.can_create?(LoanCancel) %>
</div>

<div class="form-actions">
  <%= link_to('Data Protection and Disclosure Declaration', data_protection_declaration_documents_path(format: :pdf), class: 'btn btn-info pdf-download') if current_user.can_view?(DataProtectionDeclaration) %>
</div>