<div class="form-actions">
  <%= link_to 'Guarantee & Initial Draw', new_loan_guarantee_path(@loan), class: 'btn btn-primary' %>
  <%= premium_schedule_link(@loan) %>
  <%= state_aid_letter_link(@loan) %>
</div>
