<h1>Loan application is eligible for EFG</h1>

<p>Loan reference is: <strong><%= @loan.reference %></strong></p>

<p>The criteria that has been entered indicates that the loan application is eligible for EFG.</p>

<p>This email provides the Loan reference number (that should be recorded for future reference) that should be used to access the loan within the EFG web portal.</p>

<p>In order to continue with the application, the Applicant is required to sign a Data Protection and Disclosure Declaration confirming the information to date, and agreeing to the disclosure of information.</p>

<p>Please review the Data Protection and Disclosure Declaration with the customer and obtain their confirmation of acceptance prior to entering further information within the EFG web portal. The Data Protection and Disclosure Declaration can be found in the EFG Scheme manual within the EFG web portal.</p>
