<%= breadcrumbs(
  link_to('Transfer a Loan', new_loan_transfer_path),
  'Transfer Summary'
) %>

<div class="page-header">
  <h1>Loan Transfer Summary</h1>
</div>

<p>This page provides confirmation that the loan has been transferred.</p>

<p>You should proceed to enter the new details in Loan entry.</p>

<%= link_to('Loan Entry', new_loan_transferred_entry_path(@loan), class: 'btn') %>
