<div class="page-header">
  <h1>Facility is eligible</h1>
</div>

<p>Your loan reference is: <strong><%= @loan.reference %></strong></p>

<p>This page confirms that your application is most likely to be eligible. You will need to complete the Loan Entry process before a final decision can be made.</p>

<p>This eligibility decision can be e-mailed for convenience (for internal use only).</p>

<%= render "form" %>
