<div class="page-header">
  <h1>Loan Changes</h1>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Summary', loan_path(@loan), class: 'btn' %>
  </div>
<% end %>

<p>From this page you can view a summary of Facility History Changes.</p>

<% if @loan_modifications.empty? %>

  <h4>No changes.</h4>

<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date of Change</th>
        <th>Summary Type</th>
      </tr>
    </thead>
    <tbody>
      <% @loan_modifications.each do |loan_modification| %>
        <tr>
          <td><%= link_to loan_modification.date_of_change.to_s(:screen), loan_loan_modification_path(@loan, loan_modification) %></td>
          <td><%= link_to loan_modification.change_type_name, loan_loan_modification_path(@loan, loan_modification) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>