/* Colours */

$dark_grey: #333;
$medium_grey: #777;
$light_grey: #eee;
$beige: #FFFAE3;
$light_red: #FFDAFA;
$light_purple: #EAE2FF;
$light_green: #799800;
$medium_blue: #DBE9FF;
$light_blue: #DFF5FF;
$graph_blue: #4D89F9;
$gold: #FFDC03;
$blue: #0000FF;
$red: #c20;
$yellow: #fff000;
$amber: #FF7E00;

/* Fonts */

$header_font: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
