/* Colours */

$dark_grey: #333;
$medium_grey: #777;
$beige: #FFFAE3;
$light_red: #FFDAFA;
$light_purple: #EAE2FF;
$medium_blue: #DBE9FF;
$light_blue: #DFF5FF;
$gold: #FFDC03;
$blue: #0000FF;

/* Fonts */

$header_font: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
