/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require chosen
 *= require_tree .
*/

.navbar-inner {
  border-radius: 0;
}

.actions {
  margin: 18px 0;
}

.alert.error {
  background-color: #c20;
  color: #fff;
  border: 0;
  text-shadow: 0 1px 0 #333;
}

.center,
td.center,
th.center {
  text-align: center;
}

.hidden {
  display: none
}
