@import "variables";

h1 {
  font-size: 2em;
  font-family: $header_font;
}

h2 {
  font-size: 1.8em;
  font-family: $header_font;
}

.navbar-inner {
  border-radius: 0;
}

.actions {
  margin: 18px 0;
}

.alert.error {
  background-color: #c20;
  color: #fff;
  border: 0;
  text-shadow: 0 1px 0 #333;
}

.center,
td.center,
th.center {
  text-align: center;
}

.hidden {
  display: none
}

.breadcrumb li.active {
  display: none;
}