.dashboard_widgets {
  h2 {
    font-size: 1.5em;
    line-height: 1em;
    background-color: #000;
    padding: 10px;
    margin: 0 0 1em 0;
    color: #fff;
    font-weight: normal;
    border-radius: 10px;
  }
}