@import "variables";

.radio-buttons-inline .radio {
  display: inline-block;
  margin-right: 18px;
}

.control-group.error > label {
  color: #333;
}

.currency input,
.quick_date input,
.sic_code input {
  width: 100px;
}

.duration input {
  width: 50px;
}

.form-eligibility-check,
.form-loan-cancel,
.form-loan-entry,
.form-loan-offer,
.form-loan-guarantee,
.form-loan-demand-to-borrower,
.form-loan-repay,
.form-loan-no-claim,
.form-loan-demand-against-government,
.form-state-aid-calculation {
  .control-label {
    text-align: left;
    width: 420px;
  }

  .controls {
    margin-left: 440px;
  }

  .form-actions {
    text-align: center;
    padding-left: 0;
  }
}

.form-actions {
  padding: 0.5em;
  border-top: 1px solid $amber;
  border-bottom: 1px solid $amber;
  background-color: $beige;

  .btn {
    margin-right: 0.5em;
  }

  .btn-primary {
    margin-right: 1em;
  }
}
