@import "variables";

.radio-buttons-inline .radio {
  display: inline-block;
  margin-right: 18px;
}

.control-group.error > label {
  color: #333;
}

.currency input,
.quick_date input,
.sic_code input,
.state_aid input.string {
  width: 100px;
}

.state_aid {
  input.string {
    margin-right: 10px;
  }

  &.error {
    input.string {
      color: #555;
    }

    input.btn-info {
      border-color: #2F96B4 #2F96B4 #1F6377;
      color: #fff;
    }
  }
}

.duration input {
  width: 50px;
}

.form-eligibility-check,
.form-loan-cancel,
.form-loan-entry,
.form-loan-offer,
.form-loan-guarantee,
.form-loan-remove-guarantee,
.form-loan-demand-to-borrower,
.form-loan-repay,
.form-loan-no-claim,
.form-loan-transfer,
.form-loan-demand-against-government,
.form-state-aid-calculation,
.form-invoice,
.form-recovery,
.form-realise-loans {
  .control-label {
    text-align: left;
    width: 420px;
  }

  .controls {
    margin-left: 440px;
  }

  .form-actions {
    text-align: center;
    padding-left: 0;
  }
}

.form-actions {
  .btn {
    margin-right: 0.5em;
  }

  .btn:last-child {
    margin-right: 0;
  }
}

.form-select-loans .alert {
  display: block;
}

.errors-on-base {
  margin: 0 0 1em 0;
  padding: 1em;
  list-style-position: inside;
  background-color: #eee;
  border: 1px solid #B94A48;
  border-radius: 5px;
  color: #B94A48;
}
