@import "variables";

.navbar {
  .container {
    margin: 0 auto;
    width: 940px;
  }

  a.brand {
    color: #fff;
    font-family: $header_font;
  }

  input.search-query {
    background-color: #fff;
    color: #000;
  }
}