@import "variables";

.navbar-container {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 0;

  .container {
    margin: 0 auto;
    width: 940px;
  }

  a.brand {
    font-family: $header_font;
  }

  input.search-term {
    background-color: #fff;
    color: #000;
  }
}

.navbar-inverse {
  a.brand {
    color: #fff;
  }
}

.page-header {
  margin-top: 9px;
  padding-bottom: 12px;
  position: relative;
  width: 100%;

  #actions {
    list-style: none;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    li {
      margin-bottom: 0.5em;
    }
  }

  .label {
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
  }
}
