@import "variables";

.loan-summary {
  clear: both;
  background-color: $beige;
  border-top: 1px solid $amber;
  border-bottom: 1px solid $amber;
  margin: 18px 0;
  padding: 0;
  width: 100%;

  dl {
    margin: 9px;

    dd {
      margin: 0;
      margin-bottom: 9px;
      padding: 0;
    }
  }

  .form-actions {
    padding: 0;
    margin: 0.5em 0.5em 0.5em 0;
    background-color: transparent;
    border: 0;

    .btn:first-child {
      margin-left: 0.5em;
    }
  }
}

.table-loan-changes {
  th {
    text-align: right;
  }
}

.table-loan-details {
  th, td {
    width: 50%;
  }

  th {
    text-align: right;
  }
}

.ineligibility-reasons {
  color: $red;
}
