@import 'variables';

#search {
  #advanced_search_options {
    display: none;
  }
}

#loan_lookup {
  float: right;
  margin: 8px 0 0;

  input[type='submit'] {
    margin-right: 0;
  }
}

ul.ui-autocomplete {
  float: left;
  background-color: #fff;
  list-style: none;
  border: 1px solid $medium_grey;

  li {
    a {
      display: block;
      padding: 0.5em;

      &.ui-state-hover {
        background-color: $beige;
      }
    }
  }
}
