@import "bourbon";
@import "variables";

#utilisation_dashboard {
  float: right;
  width: 280px;

  .utilisation-year {
    background-color: $beige;
    border-radius: 10px;
    @include box-shadow(1px 1px 1px #ccc);
    margin: 0 0 1em;
  }

  h3 {
    background: $gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  li {
    margin-top: 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }
}
