<%= simple_form_for @phase do |f| %>
  <%= f.input :name %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
