<div class="user-data-incomplete">
  <p class='icon-exclamation-sign'> User has no email so cannot login!</p>
  <p>
  <%= link_to 'Set User Email', url_for(action: :edit, id: user), class: 'btn btn-info' %></p>
</div>
