<% unless user.new_record? || user.has_password? %>
  <div id="password_not_set_dialog">
    <h4><%= t('manage_users.password_not_set') %></h4>
    <%= render 'user_management/reset_password_form', user: @user %>
  </div>
<% end %>
