<div class="page-header">
  <h1>Lenders</h1>
</div>

<p>From this page you can edit a lender or create a new one. You can also manage Lending Limits.</p>

<div class="actions">
  <%= link_to %{<i class="icon-plus"></i> New Lender}.html_safe, new_lender_path, class: 'btn' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Annual</th>
      <th>Specific</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @lenders.each do |lender| %>
      <tr>
        <td><%= link_to lender.name, edit_lender_path(lender) %></td>
        <td><%= link_to 'Annual', lender_lending_limits_path(lender) %></td>
        <td></td>
        <td><%= friendly_boolean lender.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>
