<div class="page-header">
  <h1>CfE Admin Management</h1>
</div>

<div class="actions">
  <%= link_to %{<i class="icon-plus"></i> New CfE Admin}.html_safe, new_cfe_admin_path, class: 'btn' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Locked</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, edit_cfe_admin_path(user) %></td>
        <td><%= user.email %></td>
        <td><%=friendly_boolean user.locked %></td>
      </tr>
    <% end %>
  </tbody>
</table>
